/*************************************************
				Home CSS Start
*************************************************/

body{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}

.img-tophead{
    height: 19px;
    width: 21px;
    padding-top: 0px;
    margin-top: -3px;
    padding-right: 18px;

}
.img-tophead1 {
    height: 43px;
    width: 46px;
    margin-left: -26px;
    margin-top: -14px;
}
.img-tophead2 {
    height: 33px;
    width: 27px;
    margin-left: -30px;
    margin-top: -10px;
}

.head1{
	height: 624px;
	width: 100%;
	background-image: url('../img/headbanner.jpg');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.tophead{
	height: 30px;
	background-color: rgba(187, 152, 63, 0.5)
}


.insta{
	padding-right: 15px !important;
}

  /*==========================my code=========*/
.width98{
  background-color: rgba(255,250,240, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
}
.nav1{
  display: flex;
  width: 40%;
}
.nav2{
  display: flex;
  width: 40%;
}
.logo{
	width: 25%;
    margin-top: -21px;
}
.mainmenu{
  display: flex;
  height: 60px;
  padding: 0;

  width: 98%;
  margin: auto;
}
.img-logo{
    width: 102px;
    /*height: 54px;*/

    margin: auto;
    display: block;
    padding-top: -20px;

}
.d-flex{
	display: flex;
}
.nav1 li{
  list-style: none;
}
.nav1 ul{
	padding: 0;
}
.nav2 ul{
	padding-right: 0;
}
.nav1 a{
  text-decoration: none;
  color: #50575B;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  padding-left: 30px;
}
.nav2 li{
  list-style: none;
}

.nav2 a{
  text-decoration: none;
  color: #50575B;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  padding: 10px 17px 0px 19px;
  /*margin-right: 1px;*/
}
.headings{
	height: 400px;
	padding:140px 0 200px 100px;
}
.belowheader{
	height: 25px;
	width: 100%;
	background-color: #212A2F;
	margin-top: -132px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	padding: 0;
}
.belowheader p{
	padding: 2px 0 2px 0;
}

u {
  padding: 10px 0 8px;
  position: relative;
}

u::before {
content: "";
    position: absolute;
    left: 24%;
    bottom: 4px;
    width: 145px;
    height: 13px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(238,111,87,0.5);
    z-index: -1;
}



.img-below{
	height: 15px;
	width: 12px;
	padding-top: 2px;
}
.text-menu{
	color: #A46D2D;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}
.text-menu1{
	font-size: 65px;
	color: #fff;
	text-shadow: 2px 2px 4px #000000;
	padding: 56px 0 34px 0;
	font-weight: 900;
	font-family: 'Cormorant Garamond', serif;

}
.brilliantmenu{
	height: 160px;
}
.favouritemenu{
	text-align: center;
	font-size: 19px;
	font-weight: 700;
}

.favbar{
	font-size: 28px;
	font-weight: 600;
	padding-top: 19px !important;
	padding-bottom: 25px !important;
	/*text-align: center;*/
	color: #212A2F;
}
.favbar1{
	text-align: center !important;
	font-size: 50px !important;
	margin-top: -90px;
}
.runningdiv{
	display: flex;
	margin: 0px 0px;
}

.running1 {
	margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	background-image: url('../img/running01.jpg');
}
.running2 {
	margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	background-image: url('../img/running2.jpg');
}
.running3 {
	margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	background-image: url('../img/running3.jpg');
}

.running-shadow{
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	height: 540px;
	width: 400px;

}

.inner-running {
	margin: 0px 5px 10px 0px !important;
	height: 400px;
	width: 400px;
	
}
/*.inner-running a{
	text-decoration: none;
	color: #212A2F;
}*/
.p-running-title a{
	text-decoration: none;
}

.running1 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}
.running2 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}
.running3 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}

hr{
	border: 1px solid #ebebeb;

}


.flat1{
	background-image: url('../img/flat01.jpg');

}
.flat2{
	background-image: url('../img/flat2.jpg');

}
.flat3{
	background-image: url('../img/flat3.jpg');

}
.inner-flat1{
	margin: 0px 5px 10px 0px !important;
	height: 400px;
	width: 400px;
}
.flat1 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}
.flat2 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}
.flat3 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}


.inner-running{
	font-size: 20px;
	font-weight: 500;
	color: #212A2F;
	/*box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	margin-left: -20px;

}
.img-running{
	/*margin-left: -20px;*/
	height: 400px;
	width: 400px;

}
.img-texticon{
	height: 45px;
	width: 45px;
	padding: 0;
	margin: 0;
	margin: 0 0 0 20px;
/*	position: relative;
	top: 440px;*/
}
.p-running-title{
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 25px;
	font-weight: 700;
	position: relative;
	top: 420px;

}
.p-running-des{
	position: relative;
	top: 400px;

}
.p-flat-des{
	position: relative;
	top: 400px;

}

.addtocart{
	height: 50px;
	width: 75px;
	float: right;
	margin: -122px 21px 30px 0;
}
.img-new-newarrival{
	height: 50px;
	width: 75px;
	float: right;
	margin: -171px 21px 30px 0;
}
.img-made-forrunning{
	height: 50px;
	width: 75px;
	float: right;
	margin: -171px 21px 30px 0;
}

.new1{
	margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;

	background-image: url('../img/new1.jpg');
	background-size: 400px 400px;

}
.new2{
		margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;

	background-image: url('../img/new2.jpg');
	background-size: 400px 400px;

}
.new3{
		margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;

	background-image: url('../img/new3.jpg');
	background-size: 400px 400px;

}

.new1 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}
.new2 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}
.new3 .inner-running:hover{
	background-color: rgba(175,238,238, .3);
	border-bottom: 5px solid #468AE7;
	height: 400px;
}



.video{
	padding-top: 221px;

}
.button-flat{
	background-color: #212a2f !important;
	color: #fff;
	font-size: 14px !important;
	font-weight: 600;
	margin-left: 572px !important;

}

.flat-des{
	text-align: center !important;
	font-size: 20px !important;
	font-weight: 100 !important;
	padding-bottom: 10px !important;
	color: #212A2F;
	text-align: center;
	padding: 0 280px 0 280px;

}
.skiptheline{
	font-size: 30px;
	font-weight: 600;
	color: #fff;

}
.offer{
    color: #000;
    text-align: center !important;
    margin-top: -68px !important;
    font-size: 53px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.resersing{
	font-size: 45px !important;
}

.text-button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;

}
.text-button2{
	  margin-left: 10px;

}
.text-button1:hover {
  background-color: #B06140;
  font-size: 18px;
  color: #fff;
  border-bottom: 4px solid #FD6418;
}
.text-button2:hover {
  background-color: #B06140;
  font-size: 18px;
  color: #fff;
  border-bottom: 4px solid #FD6418;
}

.special{
	height: 278px;
	margin-top: -30px;
}

.specialnature{
	margin-top: 220px !important;

}
.runningdivflat{
margin-top: 100px !important;
}


.nature{
	padding-top: 120px;
	width: 100%;
	height: 300px;
}
.img-nature{
	height: 450px;
	width: 100%;
	padding-bottom: 50px;
}
.VideoPlayer__player {
    position: absolute;
    top: 0px;
    left: 0px;
}


.brilliant{
	display: flex;
	/*padding-left: 100px;*/
	margin: 0px 100px;
}
.left{
	width: 30%;
	/*padding: 0 20px 0 20px;*/
	padding-right: 152px;
	padding-top: 76px;
}
.text-menu2{
	font-size: 20px !important;
}
.hr{
margin: 5px 0 5px 0;
}


.brilliantmenu2{
	padding-top: 173px !important;
}


.middle{
	padding: 0;
	height: 650px;
	width: 100%;
	height: 702px;
  background-image: url('img/middle.png');
  background-repeat: no-repeat;
  background-position: 8.33% 13.25%;
  background-size: 100%;
  background-color: transparent;
  background-size: cover;
}

/*----------------------video test star-----*/

.secondvideo{

	height: 400px;
	width: 400px;
	margin: 0 10px 10px 10px;
	object-fit: cover;

}


/*--------------------video test end------------*/

.bottomout{
	display: flex;
	margin: 0px 20px;

}
/*.bottomout a{
	text-decoration: none;
}*/

.bottompart1{
	margin-left: 55px;
	margin-top: 45px;
	height: 311px;
	width: 400px;
	background-image: url('../img/bot1.jpg');
}

.bottompart3{
	margin-top: 45px;
	height: 311px;
	width: 400px;
	background-image: url('../img/bot2.jpg');

}

.sec-bottompart1{
	margin-left: 55px;
	margin-top: 45px;
	height: 311px;
	width: 400px;
	background-image: url('../img/bot3.jpg');
}

.sec-bottompart3{
	margin-top: 45px;
	height: 311px;
	width: 400px;
	background-image: url('../img/bot4.jpg');

}

.sec-bottomout{
	display: flex;
	margin: 0px 20px;

}
.p-bottompart1{
	margin: 100px 100px 10px 150px;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	color: #fff;

}
.des-p-bottompart1{
	margin: 50px 20px 0px 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}

.p-bottompart1-vid{
	text-align: center;
		position: relative;
    margin: -252px 20px 10px 20px;
    font-size: 25px;
	  font-weight: 600;
	  color: #fff;
    z-index: 1;
}
.p-bottompart1-vid-des{
    position: relative;
    margin: 45px 20px 10px 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    z-index: 1;
}
}

.p-bottompart1 u {
  padding: 10px 0 8px;
  position: relative;
}

.p-bottompart1 u::before {
    content: "";
    position: absolute;
    left: 24%;
    bottom: 1px;
    width: 145px;
    height: 13px;
    transform: skew(
-18deg
) translateX(-33%);
    background: rgba(299,92,59,0.7);
    z-index: 1;
}
/*--------------*/
.p-bottompart1-vid u {
  padding: 10px 0 8px;
  position: relative;
}

.p-bottompart1-vid u::before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 1px;
    width: 220px;
    height: 13px;
    transform: skew( 
-18deg
 ) translateX(-12%);
    background: rgba(299,92,59,0.7);
    z-index: 1;
}

.storyhead{
	margin: 60px 0 0 0 !important;
}

.stories{
	margin: 49px 0 0 19px !important;
  font-size: 36px;
}
.stories u {
  padding: 10px 0 8px;
  position: relative;
}

.stories u::before {
    content: "";
    position: absolute;
    left: -9%;
    bottom: 1px;
    width: 119px;
    height: 13px;
    transform: skew( 
-18deg
 ) translateX(-12%);
    background: rgba(223,92,59,0.7);
    z-index: 1;
}
.p-storycard{
	margin: 15px 0 5px 20px !important;
	font-size: 16px !important;
	/*color: #36938C;*/
	color: #CA5155;

}
.storycard1{
	margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	background-image: url('../img/storycard1.jpg');

}
.storycard2{
		margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	background-image: url('../img/storycard2.png');
	
}
.storycard3{
		margin: 10px 5px 10px 40px;
	height: 400px;
	width: 400px;
	box-shadow: rgb(211 212 213) 0px 6px 24px 0px;
	background-image: url('../img/storycard3.png');
	
}

.signup{
	height: 400px;
	width: 100%;
	background-color: #F5F5F5;
	color: #c3c3c3;
	margin: 800px 0 50px 0;
}
.signup p{
	padding: 0;
	margin: 0;
	text-align: center;
}
.signupinput{
	text-align: center;
	margin-left: 448px;
	display: flex;
}

input[type="text"] {
  padding: 2px 2px;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #212A2F;
  background-color: #fff;
}
textarea[type="text"] {
  padding: 2px 2px;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #212A2F;
  background-color: #fff;
}
.signup1{
	padding: 100px 0 10px 0 !important;
	font-size: 26px !important;
	color: #808080;
}
.signup2{
	padding: 2px 0 10px 0 !important;

}
.signupbutton{
	background-color: #181818 !important;
}
.button-flat:hover{
	background-color: #B06140;
}







.bg{
	font-size: 90px;
	font-weight: 100;
	letter-spacing: 3px;
	color: #F4F3F0 ;
	text-align: center;
	margin: 48px 0 0 0 !important;

}


.bg1{
	margin-left: -542px !important;
}
.buttonform{
	padding: 10px 123px 10px 124px !important;
    margin-left: 58px !important;

}
.formlabel{
	font-size: 16px;

}

input[type=submit]:hover {
  background-color: #45a049;
}
.footbutton{
	border-bottom: 4px solid red ;
}

.footer1{
	margin-top: -138px;
	padding-top: 25px;
	height: 200px;
	background-color: #181818;
	display: flex;
}
.aboutus{
	width: 25%;
	margin-left: 300px;
	color: #F9F9F9;
}
.p-about{
	margin-left: -119px !important;
	padding: 0px 50px 0 10px;
	color: grey;
}
.foothr{
	position: relative;
	margin-left: 30px;
}
.followus{
	width: 25%;
	color: #F9F9F9;
}
.footericon{
	margin-left: -5px;
	float: left !important;
}
.newsletter{
	width: 25%;
	color: #F9F9F9;
}
.text{
	background-color: #181818;
	margin-top: -1px;
}
.news{
	border: none;
	background-color:#181818;
	color: #FD6418;

}
.news:hover{
	border-bottom: 4px solid #FD6418;



}
.copyright{
	height: 30px;
	text-align: center;
	color: #c4c4c4;
	background-color: #000;
	padding-top: 1px;
	padding-bottom: 20px;
	margin: 0 !important;
	font-size: 13px;
}

a.menuhover:hover, a.menuhover:active{
	color: #FD6418;
	font-size: 18px;
	/*border: 1px solid #EAA038;*/
	}


/************************************************
				Home CSS Ends
*************************************************/


/*************************************************
				Cart CSS Start
*************************************************/

.carthead1{
	height: 85px !important;
	/*height: 575px !important;*/
	/*background-image: url('../img/headbanner.jpg');*/
	background-image: none;
	background-color: rgba(204,185,182) !important;
	position: fixed;
	top: 0;
	z-index: 1;

}
.belowheadercart {
    margin-top: 60px !important;
    position: fixed;

}
.belowheadercart p {
    padding: 0px 0 0px 0 !important;
    margin-top: 0px;
}
.footer1-cart{
	margin-top: 86px !important;
}
.upper-product{
	height: 800px;
	width: 100%;
	display: flex;
}
.upper-product-sec1{
	width: 30%;
	background-image: url('../img/product1.jpg');
	height: 400px;
  width: 400px;
  margin: 110px 8px 10px 30px;

}
.upper-product-sec1:hover{
	background-color: rgba(15,238,238, .3);
	border-bottom: 5px solid #468AE7;
	background-image: url('../img/product1zoom.jpg');

	height: 400px;
}
.upper-product-sec2:hover{
	background-color: rgba(15,238,238, .3);
	border-bottom: 5px solid #468AE7;
	background-image: url('../img/product2zoom.jpg');

	height: 400px;
}
/*.upper-product-sec1-zoom: hover{
	background-image: url('../img/productzoom.jpg');

}*/
.upper-product-sec2{
	width: 30%;
	background-image: url('../img/product2.jpg');
		height: 400px;
    width: 400px;
    margin: 110px 30px 10px 3px;
}
.upper-product-sec3{
	width: 30%;
	margin-top: 100px;
	
}
.upper-product-sec3 b{
	font-size: 30px;
	
}
.upper-product-sec3 b:hover{
	color: #FF5733;
	
}

.review{
height: 62px;
    width: 125px;
    margin-top: -24px;
}
.img-uppercolor{
	width: 352px;
}
.cartsizebutton{
	height: 30px !important;
	font-size: 15px;
	text-align: center;
	padding: 5px 10px;
}

.addcartbutton{
		background-color: #DD3A2D;
    padding: 10px 128px;
    margin-left: -2px;
}
.addcartbutton:hover{
background-color: #FF5733 !important;
size: 500px;
border-bottom: 4px solid #FFC300 ;
}

.middleproduct{
	height: 300px;
	width: 60%;
	display: flex;
	padding-left: 26px;
}
.middleimg-1{
	height: 150px;
	width: 150px;
	/*position: relative;*/
	margin: -137px 13px 1px 2px;
}

.middleimg-01{
	position: relative;
	margin-top: -100px;
}
.middleimg-1:hover{
	background-color: #FF5733 !important;
	height: 200px;
	width: 200px;
	border-bottom: 4px solid #FFC300 ;
}
.divuppercolor{
	position: relative;
	margin-top: -100px;

}
.uppermiddleimg-01{
	position: relative;
	margin-top: 187px;
	margin-left: -30px;
	padding-right: 14px;

}
.uppermiddleimg-02{
	position: relative;
	margin-top: -13px;
  margin-left: -4px;

}
.uppermiddleimg-1{
	height: 100px;
	width: 100px;
	/*position: relative;*/
	margin: -137px 13px 1px 2px;
}
.uppermiddleimg-1:hover{
	background-color: #FF5733 !important;
	height: 120px;
	width: 120px;
	border-bottom: 4px solid #FFC300 ;
}
.solecolordiv{
	display: flex;
	/*margin-bottom: 12px;*/

}
.solediv1{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px dotted #000;
	background-color: #FDD770;
	margin-right: 10px;

}
.solediv2{
		height: 50px;
	width: 50px;
	border-radius: 50%;
		border: 2px dotted #000;
	background-color: #312D2C;
	margin-right: 10px;
	
}
.solediv3{
		height: 50px;
	width: 50px;
	border-radius: 50%;
		border: 2px dotted #000;
	background-color: #228184;
	
}
.solediv1:hover{

	height: 52px;
	width: 52px;
}
.solediv2:hover{

	height: 52px;
	width: 52px;
}
.solediv3:hover{

	height: 52px;
	width: 52px;
	}

.additionalinfo{
	margin: -200px 200px 50px 200px;
}

.additionalinfotitle{
	position: relative;
	top: 0;
	margin-top: 30px !important;

}
.productreview{
	margin: 0px 200px 50px 200px;
	box-shadow: 0 0 1px 0 grey;

}
.productreview1{
 position: relative;
 top: 0;
	margin: -400px 200px 5px 11px;
	padding-bottom: 0;

}
.mainreview{
	display: flex;
	width: 400px;
	height: 50px;
	border-bottom: 1px solid grey;
}


.relatedproduct-flex{
	display: flex;
}
.relatedproduct{
	font-size: 30px !important;
	margin-top: -104px !important;
	
}
.relatedproduct1{
	height: 250px;
	width: 250px;
	background-image: url('../img/r1.jpg');
	background-size: 250px 250px;
	opacity: 1;
	margin-left: 12px;
	box-shadow: grey;
	border: 1px solid #ebebeb;
}
.relatedproduct2{
	height: 250px;
	width: 250px;
	background-size: 250px 250px;
	opacity: 1;
	margin-left: 12px;
	box-shadow: grey;
	border: 1px solid #ebebeb;
 background-image: url('../img/freq1.jpg') !important;
}
.relatedproduct3{
	height: 250px;
	width: 250px;
	background-size: 250px 250px;
	opacity: 1;
	margin-left: 12px;
	box-shadow: grey;
	border: 1px solid #ebebeb;
 background-image: url('../img/freq2.jpg') !important;
}
.relatedproduct4{
	height: 250px;
	width: 250px;
	background-size: 250px 250px;
	opacity: 1;
	margin-left: 12px;
	box-shadow: grey;
	border: 1px solid #ebebeb;
 background-image: url('../img/freq3.jpg') !important;
}
.relatedproduct5{
	height: 250px;
	width: 250px;
	background-size: 250px 250px;
	opacity: 1;
	margin-left: 12px;
	box-shadow: grey;
	border: 1px solid #ebebeb;
 background-image: url('../img/freq6.jpg') !important;
}
.relatedproductinner{
	height: 500px;
	width: 300px;
	margin: 1px 5px 2px 5px;

}
.relatedproductinner p{
	font-size: 20px;
	font-weight: 600;
	position: relative;
	margin-top: 178px;
	padding-left: 17px;

}
.relatedproductinner b{
	font-size: 20px;
	font-weight: 600;
	position: relative;
	margin-top: 178px;
	padding-left: 17px;
	color: #FF5733;

}
.relatedproduct1:hover{
	opacity: 0.7;
}
.relatedproduct2:hover{
	opacity: 0.7;
}
.relatedproduct3:hover{
	opacity: 0.7;
}
.relatedproduct4:hover{
	opacity: 0.7;
}
.relatedproduct5:hover{
	opacity: 0.7;
}
/*.relatedproduct-flex a{
	text-decoration: none !important;
}*/







/*************************************************
				Cart CSS Ends
*************************************************/

